<!DOCTYPE html>
<html>
<head>
  <title>Awesome Answers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%# link_to is a Rails helper method that enables us to generate <a> tags
      root_path is a Rails URL/PATH helper that enables us to generate a route
      that we defiend in routes.rb  %>
  <%= link_to "Home", root_path %>
  |
  <%= link_to "About", about_path %>
  |
  <%#= link_to "Hello", hello_person_path("tam") %>
  <%= link_to "Hello", hello_person_path(name: "tam") %>
  |
  <%= link_to "Contact", contact_path %>
  |
  <%= link_to "Subscribe", subscribe_path %>
  <hr>
  <%= yield %>

</body>
</html>
